<ion-view view-title="诊断">
  <ion-content>
    <div class="list" >
      <div class="item item-divider">
        基本描述
        </div>
      <label class="item item-input">
        <span class="input-label">主因:</span>
        <input type="text" ng-model="caredetail.reason">
      </label>
      <label class="item item-input">
        <span class="input-label">病史:</span>
        <input type="text" ng-model="caredetail.history">
      </label>

      <div class="item item-divider">
        陈述对象: {{ caredetail.clientSide }}
      </div>

      <div class="button-bar" >
        <ion-radio style="width: 100%;" ng-repeat="item in clientSideList"
                   ng-value="item.value"
                   ng-model="caredetail.clientSide">
          {{ item.text }}
        </ion-radio>

      </div>



      <!--<label class="item item-input">
        <span class="input-label">客体:</span>
        <input type="text" ng-model="caredetail.client">
      </label>-->
      <label class="item item-input">
        <span class="input-label">陈述内容:</span>

        <textarea style="width: 100%"  rows="2" ng-model="caredetail.content" ng-Required="true" name="description" placeholder="根据情况输入诊断处置....">
         </textarea>
      </label>

      <div class="item item-divider">
        诊断
      </div>
      <label class="item item-input">
        <span class="input-label">诊断结果:</span>
         <textarea style="width: 100%"  rows="2" ng-model="caredetail.result" ng-Required="true" name="description" placeholder="根据情况输入诊断处置....">
         </textarea>
      </label>

    </div>
    <div class="padding">
      <button class="button button-block button-positive" ng-click="newcarecardnext(carduser)">
        保存
      </button>
      <!--<p class="text-center">
          <a href="#/forgot-password">Forgot password</a>
      </p>-->
    </div>
  </ion-content>
</ion-view>
