<ion-view>
  <ion-nav-title>
    <div class="item item-input-inset">
      <label class="item-input-wrapper">
        <i   class="icon ion-ios-search placeholder-icon"></i>
        <input  style="width: 100%;" type="text" ng-model="searchkey"  placeholder="输入急救患者姓名或卡号查询">

        <!--<i ng-click="doSearch()"  class="icon ion-ios-search"></i>-->
      </label>
      <button ng-click="doSearch(searchkey)" class="button icon ion-search"></button>
    </div>

    <!--<div>
      <input type="text" placeholder="输入商户名搜索">
      <button class="button icon ion-home">Home</button>
    </div>-->


     <!-- <input type="text" placeholder="输入急救患者姓名或卡号查询" value="{{searchkey}}">



      <button class="button icon ion-home">Home</button>-->


  </ion-nav-title>
  <!--<ion-header-bar class="bar-stable bar bar-positive" align-title="center" >


    &lt;!&ndash;<button class="button button-icon icon ion-android-menu"
            ng-click="configmodal.show()"
            side="right" >
    </button>&ndash;&gt;
  </ion-header-bar>-->
  <ion-content>
    <ion-refresher
            pulling-text="下拉刷新..."
            on-refresh="doRefresh()">
    </ion-refresher>
    <ion-list>
      <ion-item class="item item-avatar-left  item-icon-right" ng-repeat="caredetail in caredetails" href="#/index/caredetails/{{caredetail._id}}">
        <img src="img/person.jpg">
        <h2>姓名:{{caredetail.username}} </h2>
        <p>卡号:{{caredetail.cardno}} </p>
        <i class="badge badge-stable item-note elementCenterAlign">{{caredetail.time | date:'yyyy-MM-dd HH:mm'}}</i>
        <i class="icon ion-ios-arrow-right"></i>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
