<ion-view view-title="诊断">
  <ion-content>
    <div class="list" >
      <label class="item item-input">
        <span class="input-label">主因:</span>
        <input type="text" ng-model="caredetail.reason">
      </label>
      <label class="item item-input">
        <span class="input-label">病史:</span>
        <input type="text" ng-model="caredetail.history">
      </label>
      <label class="item item-input">
        <span class="input-label">客体:</span>
        <input type="text" ng-model="caredetail.client">
      </label>
      <label class="item item-input">
        <span class="input-label">主体:</span>
        <input type="text" ng-model="caredetail.self">
      </label>
      <label class="item item-input">
        <span class="input-label">诊断:</span>
         <textarea style="width: 100%" id="TextArea" rows="2" ng-model="formcontent['myoption']" ng-Required="true" name="description" placeholder="根据情况输入诊断处置....">
         </textarea>
      </label>

    </div>
    <div class="padding">
      <button class="button button-block button-positive" ng-click="newcarecardnext(carduser)">
        下一步
      </button>
      <!--<p class="text-center">
          <a href="#/forgot-password">Forgot password</a>
      </p>-->
    </div>
  </ion-content>
</ion-view>
