<ion-view view-title="急救类型">
    <ion-content class="padding">
        <div class=" button-bar">
            <button class="button button-light button-android" ng-class="{ 'button\-positive': demo == 'nocard' }" ng-click="newCare('nocard')">
                无名氏病者
            </button>
            <button class="button button-light button-android" ng-class="{ 'button\-positive': demo == 'card' }" ng-click="newCare('card')">
                知道健康卡
            </button>

        </div>
    </ion-content>
</ion-view>